{{> top.hbs}}

<div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" value="{{last_name}}">
</div>
<div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" value="{{first_name}}">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" value="{{email}}">
</div>

{{> bottom.hbs}}