{{> top.hbs}}

<div class="jumbotron">

    <div class="container">
        <h1>Are you sure?</h1>
        <p>Please confirm you want to delete application {{id}}</p>
        <form method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

</div>

{{> bottom.hbs}}
