<html>
<head>
</head>
<body>
<form method="post">
    Array: <input type="text" name="MyArray-1" /><br>
    Array: <input type="text" name="MyArray-2" /><br>
    Name: <input type="text" name="name" /><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>