{{> top.hbs}}
<form method="post">
  email:<br>
  <input type="text" name="email">
  <br>
  password:<br>
  <input type="password" name="pass">
  <br><br>
  <input type="submit" value="Submit">
</form>
{{> bottom.hbs}}