{{> top.hbs}}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, {{email}}</h1>
            <h2>Apps</h2>

            <ul>
            {{#each apps}}
                <li>{{this.id}}</li>
            {{/each}}

            <li>
                <a class="btn btn-default" href="#" role="button">Create New App</a>
            </li>
            </ul>

        </div>
    </div>
{{> bottom.hbs}}